<ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <img class='img-fluid w-100' src="./../../assets/dunerhome.jpg" alt="Quality kebabs">
          <div class="carousel-caption">
            <h3>Quality kebabs</h3>
            <p>Made with fresh ingredients only.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class='img-fluid w-100' src="./../../assets/dunerhome2.jpg" alt="Vegetarian food">
          <div class="carousel-caption">
            <h3>Healthy options</h3>
            <p>We cater to all tastes.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide> 
          <img class='img-fluid w-100' src="./../../assets/dunerhome3.png" alt="Artisan deserts">
          <div class="carousel-caption">
            <h3>Artisan deserts</h3>
            <p>Indulge your sweet tooth.</p>
          </div>
        </ng-template>
      </ngb-carousel>

