
<div class="card menuitem" style="width: 15rem;" (click)="this.showmenuInfo()" [class.highlight]="this.isHighlighted">
  <img class="card-img-top" src="http://localhost:3000/{{ this.item.image_url}}" alt="kebab-case-duner-shop menu">
  <div class="card-body">
    <h3>{{ this.item.product_name }}</h3>
    <p class="card-text">Price: {{ this.item.product_price }} BGN</p>
    <app-modal>
      <div class="title">{{ this.item.product_name }} 
      </div>
      <div class="body">
          <img src="http://localhost:3000/{{ this.item.image_url}}" alt="kebab-case-duner-shop menu" class="w-100">
          <p>Price: {{ this.item.product_price }} BGN</p>
        <p>Weight: {{ this.item.product_weight }} g</p>
        <p>{{ this.item.product_description }}</p>
      </div>
      <div class="footer">
          <button type="button" class="btn btn-outline-warning" (click)="this.log()">Add to cart</button>
      </div>
    </app-modal>
  </div>
</div>


